@import url("https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap");

$bg: #625fbf;
// $alt-bg: #00a2e1;
$alt-bg: #592a9b;
$text: #e7f0f7;
$main-text: #423eaf;
$font: "Monda", sans-serif;
$lg: 3rem;
$md: 1.8rem;
$sm: 0.8rem;
$lg-font: 2rem;
$md-font: 1.2rem;
$sm-font: 0.8rem;
$icon: 100px;
$radius: 0.4rem;
$transition-time: 0.8s;
$lg-font: 2.5em;
$md-font: 1.8em;
